Options +FollowSymLinks
Options -Indexes
php_flag register_globals off
php_flag allow_call_time_pass_reference on
php_flag safe_mode off

DirectoryIndex index.php index.html

#php_value memory_limit 16M

AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /maxsite-cms/

RewriteCond $1 !^(index\.php|uploads|img|(robots|humans)\.txt|favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /maxsite-cms/index.php/$1 [L,QSA] 
</IfModule>

FileETag None

<IfModule mod_deflate.c>
  <FilesMatch "\.(css|js)$">
    SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/gif "access plus 1 month"
	ExpiresByType image/jpeg "access plus 1 month"
	ExpiresByType image/png "access plus 1 month"
	ExpiresByType text/css "access plus 1 week"
	ExpiresByType text/javascript "access plus 1 week"
	ExpiresByType application/javascript "access plus 1 week"
	ExpiresByType application/x-javascript "access plus 1 week"
	ExpiresByType image/x-icon "access plus 1 year"
	<FilesMatch "\.(swf|js|png)$">
		ExpiresDefault "access plus 1 week"
	</FilesMatch>
</IfModule>

<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE text/javascript
	AddOutputFilterByType DEFLATE application/javascript
	AddOutputFilterByType DEFLATE application/x-javascript
</IfModule>
